# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django stuff
db.sqlite3
/media/
staticfiles/

# Virtual environments
venv/
env/

# IDE/editor configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
